@import "../../../public/variables";

body{
	font-family: $chakra-fonts-body;
	color: $chakra-colors-gray-800;
	background: $chakra-colors-brand-bg;
	transition-property: background-color;
	transition-duration: $chakra-transition-duration-normal;
	line-height: $chakra-lineHeights-base;
	margin: 0;
}

.container--home{
	padding: 3rem 4rem;
	> h1{
		line-height: 1.2;
		font-family: $chakra-font-general-bold;
    font-weight: 700;
    font-size: $chakra-fontSizes-5xl;
    line-height: 1.33;
    color: #2E58FF;
		margin: 0px;
	}
}

.container--cards {
	border: 1px solid;
	margin-bottom: 0px;
  padding: 3rem 4rem;

	> h2 {
    font-family: $chakra-font-general;
    font-weight: bold;
		font-size: $chakra-fontSizes-3xl;
    color: $chakra-colors-brand-secondaryDark;
		margin: 0px;
	}
	> .container--allcards {
		width: 100%;
    padding-top: 1rem;
		height: auto;
		display: grid;
		grid-row-gap: 20px;
		grid-column-gap: 20px;
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}

	> .container--allcards >.container--card{
		width: 100%;
		min-height: 300px;
		border: 1px solid blue;
	}
}