@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

body{
	background-color: rgb(250, 248, 255);
}

.container--home{
	padding: 2rem;
	margin: auto;
	border: 1px solid;
	width: 80%;
	min-height: 500px;
	> h1{
		color: rgb(46, 88, 255);
    font-family: 'Poppins';
		font-weight: bold;
	}
}

.container--cards {
	> h2 {
    color: #24377c;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 20px;
	}
	> .parent {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 300px);
		gap: 20px;
	}

	> .parent >.container--card{
		width: 100%;
		min-height: 300px;
		border: 1px solid blue;
	}
}